




section h1 {
    padding: 30px;
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 30px;
    color: rgb(97, 112, 82);
}
section {
    display: flex;
    flex-direction:column ;

    margin: 70px;
    position: relative;
    align-content: center;
    justify-content: center;

}

button {
    
    border-color: rgb(225, 244, 238);
    margin: 40px;
    --btn-height: 45px;
    border-radius: 20px;
    min-height: 0px;
    padding: 0px 0px 0px;
    padding-bottom: 20px;
}

#topbutton {
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    padding-left: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 19.2px;
    line-height: 28px;
    font-weight: 800;
    padding: 24px 24px 24px;
    background-color:  rgb(195, 249, 190);
}

.namecompany {
    
    padding-left: 1vw;
    font-size: 16px;
    line-height: 20px;
    color: rgb(115, 115, 115);
    font-weight: 600;
    margin-top: 16px;
}

.categoryorbrand {

    padding-left: 1vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 19.2px;
    line-height: 28px;
    font-weight: 800;
    padding-bottom: 10px;
}

.price {

    float: right;
    padding-right: 15px;
    margin-top:50px;

    
}

.formatnamecategory {
    float: left;
}