/* Import de la fuente del banner */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Contenedor Flex que se aplica a todo el formulario */
.flex-container {
    display: flex;
    flex-flow: column ;
    overflow: auto;
    margin: auto;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 5%;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
}

h2 {
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 40px;
    color: rgb(97, 112, 82);
    padding-bottom: 60px;
    font-family: Poppins;
    padding-top: 20px;
}

/* Estilos para el formulario en general */

.formulario {
    display:flex;
    width: 500px;
    color:rgb(97, 112, 82);
    height: 500px;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 100px;
    font-family: Poppins ;
    overflow-x:auto;
    
}

/* Inputs del formulario  */

.DatosPersonales {
    display:flex;
    flex-flow: column;
    margin: 0 auto;
}


#descripcion {
    margin-bottom: 30px;
    width: 455px;
    height: 150px;
    padding:10px;
    border:rgb(97, 112, 82);
}

.botones {
    display: flex;
    justify-content: space-between;
    margin: 20 auto;
    justify-content: space-around;
    align-items: center;
    color:rgb(97, 112, 82);
}

.botones input {
    height: 35px;
    color:white;
    padding: 10px;
    background-color:rgb(97, 112, 82) ;
    border-radius: 10px;
}
