/* Import de la fuente del banner */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----- Primera imagen central ----- */

/* Se le añade características para que la imagen sea responsive */
img {
    width: 100%;
    height: auto;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: auto;
}
    
.text {
    position: absolute;
    font-size: 4vw;
    font-weight: bold;
    font-family: Poppins;
    color: rgb(97, 112, 82);
    top: 25%;
    left: 6%; 
}

/* ----- END IMAGEN CENTRAL */


/* ----- QUIÉNES SOMOS ----- */

.QuienesSomos  {
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 120px;
    font-family: Poppins;
    font-size: 2vw;
    padding: 4%;
}

.QuienesSomos h2 {
    text-align: center;
    padding-bottom: 20px;
    color: rgb(97, 112, 82);
}

video {
    width: 100%;
    height: auto;
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2), 8px 8px 8px 8px rgba(0, 0, 0, 0.19);
}
/* ----- FIN QUIENES SOMOS -----  */



/* ----- DÓNDE ESTAMOS -----  */

.DondeEstamos {
    display: block;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 120px;
    font-family: Poppins;
    font-size: 2vw;
    padding: 4%;
}

.DondeEstamos h2 {
    text-align: center;
    padding-bottom: 20px;
    color: rgb(97, 112, 82);
}

.DondeEstamos ol li {
    text-align: center;
    list-style-type: none;
}

.DondeEstamos .Localidad {
    color:rgb(97, 112, 82);
    text-decoration: underline;
    font-weight: bold;
}

.DondeEstamos ol li::marker {
    text-decoration: none;
}





/* .flex-container {
    display: flex;
    flex-flow: wrap row;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    padding: 50px;
}

.caja  {
    flex-flow: column;
    border: 2px solid black;
    width: 300px;
    height: 200px;
    font-size: 18px;
} */

/* ----- FIN DÓNDE ESTAMOS -----  */