/* Import de la fuente del banner */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ----- Primera imagen central ----- */

/* Se le añade características para que la imagen sea responsive */
img {
    width: 100%;
    height: auto;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: auto;
}
    
    
.text {
    position: absolute;
    font-size: 4vw;
    font-weight: bold;
    font-family: Poppins;
    color: rgb(97, 112, 82);
    top: 25%;
    left: 6%; 
}

/* ----- END IMAGEN CENTRAL */


/* ----- QUIÉNES SOMOS ----- */

.QuienesSomos h2 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Poppins;
    font-weight: bold;
}

.QuienesSomos p {
    display: block;
    background-color: rgb(115, 203, 52);
    border-style:groove;
    border-color: rgb(115, 203, 52);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 100px;
    padding-bottom: 100px;
    font-family: Poppins;
    font-size: 2vw;
    
    padding: 4%;
}
/* ----- FIN QUIENES SOMOS ----- } */



/* ----- DÓNDE ESTAMOS -----  */

.DondeEstamos h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Poppins;
    font-weight: bold;

}

.DondeEstamos h3 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    font-family: Poppins;
}

.DondeEstamos p {
    font-family: Poppins;
    text-align: center;
}

.DondeEstamos ol li {
    font-family: Poppins;
    text-align: center;
    padding-bottom: 5px;
}

.DondeEstamos .Palma {
    list-style-type: circle;
}

/* ----- FIN DÓNDE ESTAMOS -----  */